.venv
__pycache__
*.pyc
*.pyo
*.pyd
.db
.sqlite
node_modules
dist
.git
.github
*.log
.env
.ipynb_checkpoints
synthea_output
output
model.cbm
catboost_info
training
data
testing
requirements.temp.txt
calibration_plot.png
demo_patients.txt
